// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
  background-color: #022B3A;
  color: #E1E5F2;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

nav.navbar.navbar-default {
  background-color: #BFDBF7;
  color: #022B3A;
}
