<dl class="dl-horizontal">
  <h3>Customer Reviews</h3>
  <% @reviews.each do |review| %>
    <hr>
    <dt>Description</dt>
    <dd><%= review.description %></dd>
    <dt>Rating</dt>
    <dd><%= review.rating %></dd>
    <dt>Reviewer</dt>
    <dd>
      <%= User.find(review.user_id).first_name %>
      <% if User.find(review.user_id) == current_user %>
        <%= link_to fa_icon('trash'), product_review_url(@product, review), class: 'btn btn-sm btn-danger review', method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>
    </dd>

  <% end %>
</dl>
